@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif​ !important;
}
@media (max-width: 991) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.logo-switch-language {
  width: 33px;
}
.nav_icon {
  font-size: 25px;
}
.nav_btn_contact:hover {
  background-color: #0f2f52;
}
.nav_ul {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.dropdown-item:hover {
  background-color: #c60a2e;
  color: #ffff;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: px;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.25rem - 1px);
  color: #fff;
}

.text-muted {
  color: #6c757d !important;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.prointix-service .card .card-img-overlay {
  transition: 0.3s;
}

.overlay-dark-orange {
  background-color: rgba(101, 85, 27, 0.5);
  border-radius: 10px;
}
.overlay-cover {
  background-color: rgba(101, 85, 27, 0.5);
  height: 512px;
}
.overlay-software {
  background-color: rgba(56, 83, 124, 0.5);
  border-radius: 10px;
}
.overlay-moblie {
  background-color: rgba(101, 85, 27, 0.5);
  border-radius: 10px;
}
.overlay-desgin {
  background-color: rgba(72, 49, 165, 0.5);
  border-radius: 10px;
}
.overlay-website {
  background-color: rgba(123, 99, 99, 0.5);
}
.prointix-service .card:hover .overlay-desgin {
  background-color: rgba(103, 92, 149, 0.5);
  cursor: pointer;
}
.prointix-service .card:hover .overlay-website {
  background-color: rgba(101, 85, 27, 0.20);
  cursor: pointer;
}
.prointix-service .card:hover .overlay-moblie {
  background-color: rgba(135, 127, 95, 0.5);
  cursor: pointer;
}
.prointix-service .card:hover .overlay-software {
  background-color: rgba(87, 100, 118, 0.5);
  cursor: pointer;
}
.mb-h2{
  margin-bottom: 13rem;
  text-align: center;
}
.text-muted-member{
  color: #32435C;
  
}
.span-text-member{
  color: #969696;
}
.swiper-container {
  width: 600px;
  height: 300px;
}
.cart-image{
  position: absolute;
  border-radius: 7px;
}
.how_content{
  padding-top: 140px;
}
.btn-viwe-detail{  
  color: #fff;
  border: 1px solid #ffff;
}
body {
  background-color: #f5f7fa;
}

.fas.fa-heart:hover {
  color: #f44336 !important;
}

.fas.fa-share-alt:hover {
  color: #0d47a1 !important;
}
body {
  background-color: #f5f7fa;
}

.degree:after {
  content: '°C';
  position: absolute;
  font-size: 3rem;
  margin-top: 0.4rem;
  font-weight: 400;
}
body {
	background-color: #f5f7fa;
}

.card.map-card .living-coral {
  background-color: #fa7268;
}

.card.map-card .living-coral-text {
  color: #fa7268;
}

.card.map-card .table th {
  width: 2rem;
}

.card.map-card .pt-3-5 {
  padding-top: 1.25rem;
}

.card.map-card .card-body {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.card.map-card .card-body.closed {
  top: 100%;
  height: 7.5rem;
  margin-top: -7.5rem;
}

.card.map-card .map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.card.map-card .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card.map-card .button .btn-floating {
  margin-top: -1.5rem;
}
body {
	background-color: #f5f7fa;
}

.md-calendar {
  background-color: #69004b;
}

.md-calendar .weekdays,
.md-calendar .days {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.md-calendar .weekdays li,
.md-calendar .days li {
  text-align: center;
  width: 13.6%;
  padding: 0.9rem 0;
}

.md-calendar .days li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.md-calendar .days li.active {
  background-color: #fb0025;
}

.md-calendar .days li.active.rounded-right {
  -webkit-border-top-right-radius: 50% !important;
  border-top-right-radius: 50% !important;
  -webkit-border-bottom-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.md-calendar .days li.active.rounded-left {
  -webkit-border-top-left-radius: 50% !important;
  border-top-left-radius: 50% !important;
  -webkit-border-bottom-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.md-calendar .form-check,
.card-form .form-check {
  margin-left: .32rem;
}

.red-checkbox .form-check-input[type=checkbox]:checked {
  background-color: #fb0025;
}

.red-checkbox .form-check-input:checked {
  border-color: #fb0025;
}

.red-checkbox .form-check-input:checked:focus:before {
  box-shadow: 0 0 0 13px #fb0025;
}

.purple-checkbox .form-check-input[type=checkbox]:checked {
  background-color: #69004b;
}

.purple-checkbox .form-check-input:checked {
  border-color: #69004b;
}

.purple-checkbox .form-check-input:checked:focus:before {
  box-shadow: 0 0 0 13px #69004b;
}

.blue-checkbox .form-check-input[type=checkbox]:checked {
  background-color: #0d47a1;
}

.blue-checkbox .form-check-input:checked {
  border-color: #0d47a1;
}

.blue-checkbox .form-check-input:checked:focus:before {
  box-shadow: 0 0 0 13px #0d47a1;
}

.teal-checkbox .form-check-input[type=checkbox]:checked {
  background-color: #00695c;
}

.teal-checkbox .form-check-input:checked {
  border-color: #00695c;
}

.teal-checkbox .form-check-input:checked:focus:before {
  box-shadow: 0 0 0 13px #00695c;
}

.unique-checkbox .form-check-input[type=checkbox]:checked {
  background-color: #3f729b;
}

.unique-checkbox .form-check-input:checked {
  border-color: #3f729b;
}

.unique-checkbox .form-check-input:checked:focus:before {
  box-shadow: 0 0 0 13px #3f729b;
}



